
<section>
    <h3>
        Spoolman
    </h3>
    <div>
        <div>
            <button class="spoolman_tab__btn_connect">
                Connect to Spoolman
            </button>
        </div>
        <div>
            <span class="spoolman_tab__placeholder_connect_result"></span>
        </div>
    </div>
</section>
