
<section id="tab_spoolman">
    <h3>
        Spoolman
    </h3>
    <div>
        <div>
            <button data-bind="click: templateApi.onBtnConnectClick">
                Connect to Spoolman
            </button>
        </div>
        <div>
            <span class="placeholder_connect_result"></span>
        </div>
    </div>
</section>
