{% include "Spoolman_sidebar_modal_selectspool.jinja2" %}
{% include "Spoolman_modal_confirmspool.jinja2" %}

<div
    id="sidebar_spoolman"
    class="control-group"
>
    <div
        data-bind="visible: templateData.isLoadingData()"
        style="margin: 16px; text-align: center;"
    >
        <i class='fa fa-2xl fa-spinner fa-spin' ></i>
    </div>

    <!-- ko if: (!templateData.isLoadingData() && templateData.loadingError()) -->
        <div>
            <!-- ko if: (templateData.loadingError().code === 'spoolman_api__instance_url_empty') -->
                <div class="alert alert-block alert-info">
                    Spoolman plugin has not been configured yet
                </div>
            <!-- /ko -->
            <!-- ko if: (templateData.loadingError().code ?? 'unknown') === 'unknown' -->
                <div class="alert alert-block alert-error margin-bottom-mini">
                    Unknown error
                </div>
                <div>
                    <button
                        class="btn btn-mini btn-block btn-warning"
                        data-bind="click: templateApi.handleTryAgainOnError.bind($data)"
                    >
                        Try again
                    </button>
                </div>
            <!-- /ko -->
        </div>
    <!-- /ko -->

    <div data-bind="visible: (!templateData.isLoadingData() && !templateData.loadingError())">
        <div
            id="selectedSpoolsByToolIdx"
            data-bind="foreach: templateData.selectedSpoolsByToolIdx"
        >
            <div class="tool-row">
                <!-- ko if: $parent.templateData.selectedSpoolsByToolIdx().length > 1 -->
                    <div class="tool-idx">
                        <b>Tool #<span data-bind="text: $index()"></span>:</b>
                    </div>
                <!-- /ko -->

                <!-- ko ifnot: $data.spoolId && $data.spoolData -->
                    <div class="spool-label">
                        <!-- ko if: $data.spoolId -->
                            <i class="text-error">Unknown spool selected</i>
                        <!-- /ko -->
                        <!-- ko ifnot: $data.spoolId -->
                            <i class="muted">No spool selected</i>
                        <!-- /ko -->
                    </div>
                    <div>
                        <div class="btn-group">
                            <!-- ko if: $data.spoolId -->
                                <button
                                    class="btn btn-mini"
                                    data-bind="click: $parent.templateApi.handleDeselectSpool.bind($data, $index())"
                                    title="Deselect Spool"
                                >
                                    <span class="icon-remove"></span>
                                </button>
                            <!-- /ko -->
                            <button
                                class="btn btn-mini"
                                data-bind="click: $parent.templateApi.handleOpenSpoolSelector.bind($data, $index())"
                                title="Select spool"
                            >
                                ...
                            </button>
                        </div>
                    </div>
                <!-- /ko -->

                <!-- ko if: $data.spoolData -->
                    <div>
                        <span
                            class="color-preview"
                            data-bind="style: { 'background-color': '#' + spoolData.filament.color_hex }, attr: { title: spoolData.filament.name }"
                        ></span>
                    </div>
                    <div class="spool-label">
                        <!-- ko if: spoolData.filament.material -->
                        <span>[<span data-bind="text: spoolData.filament.material"></span>]</span>
                        <!-- /ko -->
                        <span data-bind="text: spoolData.filament.name"></span>
                        <!-- ko if: spoolData.filament.vendor.name -->
                        <span>(<span data-bind="text: spoolData.filament.vendor.name"></span>)</span>
                        <!-- /ko -->
                        <span><span
                            data-bind="text: (spoolData.remaining_weight ?? 0).toFixed(1)"
                            title="Remaining weight"
                        ></span><span data-bind="text: $root.constants.weight_unit"></span></span>
                    </div>
                    <div>
                        <div class="btn-group">
                            <button
                                class="btn btn-mini"
                                data-bind="click: $parent.templateApi.handleDeselectSpool.bind($data, $index())"
                                title="Deselect Spool"
                            >
                                <span class="icon-remove"></span>
                            </button>
                            <button
                                class="btn btn-mini"
                                data-bind="click: $parent.templateApi.handleOpenSpoolSelector.bind($data, $index())"
                                title="Change Spool"
                            >
                                ...
                            </button>
                        </div>
                    </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="tool-list-controls">
            <button
                class="btn btn-mini btn-default"
                data-bind="click: templateApi.handleForceRefresh.bind(null)"
            >
                <i class="fa fa-sm fa-refresh"></i>
                Refresh
            </button>

            <a
                class="btn btn-mini btn-default"
                target="_blank"
                data-bind="attr: { href: templateData.spoolmanUrl }"
                title="Open Spoolman in new tab"
            >
                <i class="fa fa-sm fa-database"></i>
                Open Spoolman
            </a>
        </div>
    </div>
</div>

<span id="spoolman-modals" style="display:none">
    <spoolman-modal-select-spool params="
        settingsViewModel: templateData.settingsViewModel,
        toolIdx: templateData.modals.selectSpool.toolIdx,
        eventsSink: templateData.modals.selectSpool.eventsSink,
        "
    ></spoolman-modal-select-spool>
    <spoolman-modal-confirm-spool params="
        settingsViewModel: templateData.settingsViewModel,
        eventsSink: templateData.modals.confirmSpool.eventsSink,
        "
    ></spoolman-modal-confirm-spool>
</span>
