<div
    id="spoolman_modal_selectspool"
    class="modal hide fade-in"
>
    <div class="modal-header">
        <a
            href="#"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
        >
            &times;
        </a>
        <h3>Select Spool</h3>
    </div>
    <div class="modal-body">
        <div>
            <div>
                Tool #<span data-bind="text: (templateData.modals.selectSpool.toolIdx() + 1)"></span>:
                &nbsp;

                <!-- ko if: templateData.modals.selectSpool.toolCurrentSpool() -->
                    <span
                        class="color-preview"
                        style="margin-bottom: -5px;"
                        data-bind="style: { 'background-color': '#' + templateData.modals.selectSpool.toolCurrentSpool().filament.color_hex },
                                    attr: { title: templateData.modals.selectSpool.toolCurrentSpool().filament.name }"
                    ></span>
                    <span>
                        <!-- ko if: templateData.modals.selectSpool.toolCurrentSpool().filament.material -->
                            <span data-bind="text: templateData.modals.selectSpool.toolCurrentSpool().filament.material"></span> -
                        <!-- /ko -->

                        <span data-bind="text: templateData.modals.selectSpool.toolCurrentSpool().filament.name"></span>

                        <!-- ko if: templateData.modals.selectSpool.toolCurrentSpool().filament.vendor.name -->
                            (<span data-bind="text: templateData.modals.selectSpool.toolCurrentSpool().filament.vendor.name"></span>)
                        <!-- /ko -->

                        <span
                            data-bind="text: templateData.modals.selectSpool.toolCurrentSpool().remaining_weight"
                            title="Remaining weight"
                        ></span><span data-bind="text: $root.constants.weight_unit"></span>
                    </span>
                <!-- /ko -->
                <!-- ko ifnot: templateData.modals.selectSpool.toolCurrentSpool() -->
                    <i>No spool selected</i>
                <!-- /ko -->
            </div>

            <hr style="margin: 10px 0;"/>

            <div
                data-bind="visible: templateData.modals.selectSpool.isLoadingData()"
                style="margin: 16px; text-align: center;"
            >
                <i class='fa fa-2xl fa-spinner fa-spin' ></i>
            </div>

            <div data-bind="visible: !(templateData.modals.selectSpool.isLoadingData())">
                <table
                    class="table table-striped table-hover table-condensed table-hover"
                    style="clear: both;"
                >
                    <thead>
                        <tr>
                            <th
                                style="width: 5%"
                                data-bind="visible: templateData.modals.selectSpool.tableAttributeVisibility.id"
                            >
                                ID
                            </th>
                            <th
                                style="width: 55%"
                                data-bind="visible: templateData.modals.selectSpool.tableAttributeVisibility.spoolName"
                            >
                                Name
                            </th>
                            <th
                                style="width: 20%"
                                data-bind="visible: templateData.modals.selectSpool.tableAttributeVisibility.material"
                            >
                                Material
                            </th>
                            <th
                                style="text-align: center; width: 15%;"
                                data-bind="visible: templateData.modals.selectSpool.tableAttributeVisibility.weight"
                            >
                                Weight
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: templateData.modals.selectSpool.tableItemsOnCurrentPage">
                        <tr
                            style="cursor: pointer;"
                            data-bind="
                                click: function() {
                                    $root.templateApi.modals.selectSpool.handleSelectSpoolForTool($root.templateData.modals.selectSpool.toolIdx(), $data.id);
                                },
                                attr: {
                                    class: (
                                        $root.templateData.modals.selectSpool.toolCurrentSpool() &&
                                        String($root.templateData.modals.selectSpool.toolCurrentSpool().id) === String($data.id)
                                    )
                                        ? 'success'
                                        : ''
                                    }
                            "
                        >
                            <td data-bind="visible: $root.templateData.modals.selectSpool.tableAttributeVisibility.id">
                                <span data-bind="text: id, attr: { title: id }"></span>
                            </td>
                            <td data-bind="visible: $root.templateData.modals.selectSpool.tableAttributeVisibility.spoolName">
                                <div style="display: flex;">
                                    <div>
                                        <span
                                            class="color-preview"
                                            data-bind="style: { 'background-color': '#' + filament.color_hex }, attr: { title: filament.name }"
                                        ></span>
                                    </div>
                                    <div>
                                        <span data-bind="text: filament.name, attr: { title: filament.name }"></span>
                                        <br>
                                        <i>
                                            <span data-bind="text: filament.vendor.name, attr: { title: filament.vendor.name }"></span>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td data-bind="visible: $root.templateData.modals.selectSpool.tableAttributeVisibility.material">
                                <span data-bind="text: filament.material, attr: { title: filament.material }"></span>
                            </td>
                            <td
                                data-bind="visible: $root.templateData.modals.selectSpool.tableAttributeVisibility.weight" style="text-align: right;"
                            >
                                <span data-bind="text: remaining_weight.toFixed(1), attr: {title: 'Remaining weight'}"></span><span data-bind="text: $root.constants.weight_unit"></span>
                                <br>
                                <span data-bind="text: used_weight.toFixed(1), attr: {title: 'Used weight'}"></span><span data-bind="text: $root.constants.weight_unit"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a
            href="#"
            class="btn"
            data-dismiss="modal"
            aria-hidden="true"
        >
            Close
        </a>
    </div>
</div>
