
<form
    id="settings_spoolman"
    class="form-horizontal"
>
    <h3>
        Spoolman
        <small>{{ _('Version') }}:
            <span data-bind="text: pluginSettings.installed_version"></span>
        </small>
    </h3>
    <div class="tabbable">
        <ul
            class="nav nav-tabs"
            id="spoolmanger-settings-tab"
        >
            <li class="active">
                <a
                    href="#tab-spoolman-General"
                    data-toggle="tab"
                >
                    General
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- Tab: General -->
            <div
                id="tab-spoolman-General"
                class="tab-pane active"
            >
                <div class="control-group">
                    <label class="control-label">
                        Spoolman instance URL
                    </label>
                    <div class="controls">
                        <input
                            type="text"
                            class="input-xlarge text-left"
                            data-bind="textInput: pluginSettings.spoolmanUrl"
                            placeholder="http://192.168.1.100:7912"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
