#spoolman_modal_selectspool .modal-body {
    display: flex;
    flex-direction: column;
}

#spoolman_modal_selectspool .table {
    margin-bottom: 0;
}

.spool-label {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;

    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.tool-row {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.tool-row:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tool-row .tool-idx {
    flex-shrink: 0;
}

.color-preview {
    border: 1px solid #ccc;
    border-radius:4px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.075);
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    margin-right: 5px
}
